absl-py
attrs
blinker
certifi
cffi
charset-normalizer
click
contourpy
cycler
filelock
flask
flask-cors
flatbuffers
fonttools
fsspec
hf-xet
huggingface-hub
idna
itsdangerous
jax
jaxlib
jinja2
kiwisolver
markupsafe
matplotlib
mediapipe
ml-dtypes
mpmath
networkx
numpy
opencv-contrib-python
opencv-python
opt-einsum
packaging
pillow
protobuf
pycparser
pyjwt
pyparsing
python-dateutil
python-dotenv
pyyaml
regex
requests
safetensors
scipy
sentencepiece
six
sounddevice
sympy
tokenizers
torch
torchvision
tqdm
transformers
typing-extensions
urllib3
werkzeug
gunicorn
joblib